<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/custom/posts.css">
        <link rel="stylesheet" href="/css/tagify.css">
    </th:block>
</head>
<body>


<section layout:fragment="content">

    <!-- 상단 검색창 -->
    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0" style="margin-bottom: 1rem !important;">여행 후기</h1>

                        <div class="row">
                            <div class="col-12">
                                <form class="form" id="postForm">
                                    <div class="row mb-2">
                                        <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-2">
                                            <select name="key" class="form-control custom-select">
                                                <option value="">검색조건</option>
                                                <option value="title" th:selected="${key == 'title'}">제목</option>
                                                <option value="content" th:selected="${key == 'content'}">내용</option>
                                                <option value="all" th:selected="${key == 'all'}">제목+내용</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-6">
                                            <input type="text" name="keyword" class="form-control"
                                                   placeholder="검색어를 입력하세요" th:value="${keyword}">
                                        </div>

                                        <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4 d-flex align-items-center">
                                            <input type="date" class="form-control" name="startDt"
                                                   th:value="${startDt}">
                                            <span style="margin: 0 10px">~</span>
                                            <input type="date" class="form-control" name="endDt" th:value="${endDt}">
                                        </div>

                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-8">
                                            <input type="text" name="hashtags" id="hashtagInput" class="form-control"
                                                   style="text-align: left;"
                                                   placeholder="해시태그는 엔터로 구분됩니다" th:value="${hashtags}">
                                        </div>

                                        <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4 d-flex justify-content-center">
                                            <input id="submitBtn" class="btn btn-primary btn-block" value="검색"
                                                   onsubmit="return false">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 게시글 목록-->
    <div class="untree_co-section">
        <div class="container">
            <div class="row">
                <!--                <p class="text-black"> 총 <a th:text="${postCount}"></a> 건 </p>-->
                <div th:if="${postCount > 0}" th:each="post:${postList}" class="col-6 col-md-6 col-lg-3">
                    <div class="media-1">
                        <a th:href="@{/post/read(postId=${post.postId})}" class="d-block mb-3"><img
                                th:src="${post.imgUrl != null && !post.imgUrl.isEmpty() ? post.imgUrl : '/images/default.png'}"
                                alt="Image" class="img-fluid" style="width: 330px;height: 230px;"></a>
                        <div class="d-flex mb-4" >
                            <div>
                                <h3 style="height: 50px;"><a th:href="@{/post/read(postId=${post.postId})}" th:text="${post.title}"></a></h3>
                                <p>작성자 <a th:text="${post.userId}"></a></p>
                                <p>작성일 <a th:text="${#temporals.format(post.createdDate,'yyyy.MM.dd')}"></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${postCount > 0}" class="col-6 col-md-6 col-lg-9 text-center">
                    <span class="material-symbols-outlined d-inline-block">sentiment_very_dissatisfied</span>
                    <h4 class="d-inline-block">검색결과가 없습니다.</h4>
                </div>
            </div>
        </div>
    </div>

    <!--하단 글등록 버튼-->
    <div class="py-5 cta-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="pagination">
                        <a th:if="${hasPreviousGroup}"
                           th:href="@{/post/list(page=${startPage - 1}, size=${size}, key=${key}, keyword=${keyword}, startDt=${startDt}, endDt=${endDt}, hashtags=${hashtags})}">
                            이전
                        </a>

                        <span th:each="page : ${#numbers.sequence(startPage, endPage)}">
                                <a th:href="@{/post/list(page=${page}, size=${size}, key=${key}, keyword=${keyword}, startDt=${startDt}, endDt=${endDt}, hashtags=${hashtags})}"
                                   th:classappend="${page == currentPage} ? 'active' : ''"
                                   th:text="${page}"></a>
                        </span>

                        <a th:if="${hasNextGroup}"
                           th:href="@{/post/list(page=${endPage + 1}, size=${size}, key=${key}, keyword=${keyword}, startDt=${startDt}, endDt=${endDt}, hashtags=${hashtags})}">
                            다음
                        </a>
                    </div>
                    <p class="mb-0 write-btn"><a th:href="@{/post/write}"
                                                 class="btn btn-outline-white text-white btn-md font-weight-bold">글
                        등록</a></p>
                </div>
            </div>
        </div>
    </div>

</section>

<th:block layout:fragment="js">
    <script src="/js/tagify.js"></script>
    <script src="/js/custom/post-list.js"></script>

</th:block>

</body>
</html>