<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/custom/posts.css}">
        <link rel="stylesheet" th:href="@{/css/tagify.css}">
    </th:block>
</head>
<body>


<section layout:fragment="content">
    <!-- 상단 배너 -->
    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0">여행후기 등록</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 글쓰기 -->
    <div class="untree_co-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5 mb-lg-0">
                    <form action="/post/submit" method="post" class="contact-form" data-aos="fade-up"
                          data-aos-delay="200">
                        <div class="form-group">
                            <label class="text-black" for="title">제목</label>
                            <input type="text" name="title" class="form-control" id="title"
                                   th:value="${post.title == null} ? '' : ${post.title}">
                        </div>
                        <div class="form-group">
                            <label class="text-black" for="title">프롬프트</label>
                            <div class="d-flex">
                                <input type="text" name="promptInput" class="form-control" id="promptInput"
                                       style="margin-right: 1rem;"
                                       placeholder="프롬프트를 입력하고 자동생성 버튼을 클릭하면 AI가 여행후기를 작성해줍니다!">
                                <button type="button" class="btn btn-primary" id="generatePostButton"
                                        style="width: 100px; padding: 12px 0;">AI 자동생성
                                </button>
                            </div>
                        </div>

                        <div id="loading" style="display: none;">
                            <div class="spinner"></div>
                            <p>AI로 콘텐츠를 생성 중입니다. 잠시만 기다려 주세요...</p>
                        </div>

                        <div class="form-group">
                            <label class="text-black" for="editor">내용</label>
                            <textarea name="content" class="form-control" id="editor" cols="30" rows="5"
                                      th:text="${post.content == null} ?  '': ${post.content}">></textarea>
                        </div>

                        <div class="form-group">
                            <label class="text-black" for="hashtagInput">해시태그</label>
                            <div class="d-flex">

                                <input type="text" id="hashtagInput" name="hashtags" class="form-control"
                                       placeholder="해시태그는 엔터로 구분됩니다. 자동생성 버튼을 클릭하면 AI가 해시태그를 추천해줍니다! "
                                       th:value="${hashtags == null} ?  '' : ${hashtags}">
                                <button type="button" class="btn btn-primary" id="generateTags"
                                        style="width: 100px; padding: 12px 0; margin-left: 1rem;">AI 자동생성
                                </button>
                            </div>
                        </div>

                        <div class="col-md-12 d-flex justify-content-between">
                            <button type="button" class="btn btn-danger">취소</button>
                            <button type="submit" class="btn btn-primary">
                                <span th:text="${post.postId == null} ? '글 등록' : '글 수정'"></span>
                            </button>
                        </div>
                        <input type="hidden" name="postId" th:value="${post.postId}">
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<th:block layout:fragment="js">
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>

    <!--    <script type="module" src="/ckeditor5/ckeditor5.js"></script>-->
    <script src="/js/tagify.js"></script>
    <script type="module" src="/js/custom/write-post.js"></script>

</th:block>

</body>
</html>