/* Tagify 입력창 높이 조정 */
.tagify.form-control {
    min-height: 200px;
}


#timetable{
    height: 100%;
}

#day{
    width: 50%;
    margin:0 4px;
}

#cost{
    margin:0 4px;
}
#prompt{
    height: 250px ;
}

.col-6{
}

.feature-1{
    padding: 20px;
}

input[type='radio']{
    margin-right: 3px;
}

