<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="Ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/style.css">

  <th:block layout:fragment="css"></th:block>
</head>
<body>

<div th:replace="fragments/header::header"></div>

<div layout:fragment="content" class="content"></div>

<div th:replace="fragments/footer::footer"></div>

<script src="/js/script.js"></script>
<th:block layout:fragment="script"></th:block>

</body>
</html>