<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hashtagteam.mapper.ScheduleMapper">
    <!-- 스케줄 저장 -->
    <insert id="addScheduleMst" parameterType="map">
        INSERT INTO schedule_mst (
                 schedule_id
                 ,user_id
                 ,day
                 ,destination
                 ,cost
        ) VALUES (
                 #{scheduleId}
                ,'id'
                ,#{day}
                ,#{destination}
                ,#{cost}
        )
    </insert>

    <!-- 스케줄 디테일 저장 -->
    <insert id="addScheduleDtl" parameterType="map">
        INSERT INTO schedule_dtl (
                 schedule_id
                 ,start_time
                 ,end_time
                 ,title
                 ,content
        )VALUES (
                 #{scheduleId}
                ,#{startTime}
                ,#{endTime}
                ,#{title}
                ,#{content}
        )
    </insert>

</mapper>